/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

/.vscode/
/.idea/
.rake_tasks~

# rspec failure tracking
.rspec_status
.env.local

/gem/vendor/*
/gem/bin/*

/db_data/
/db_data/*
