/db/data/*/**
!/db_data/*/.keep

/vendor/**
!/vendor/.keep

/db_data/db/**/*
!/db_data/db/.keep

/db_data/admin_data/**/*
!db_data/admin_data/.keep

/db_data/admin_logs/**/*
!/db_data/admin_logs/.keep

/pkg
/bin/*

.env.local

.rspec_status
